* {
    margin: 0;
    padding: 0;
    border-style: border-box;
    font-family: Poppins;
}

body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

#header {
    padding: 14px 0;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    z-index: 600;
    background-color: #fff;
    position: fixed;

}

.container {
    display: flex;
    justify-content: space-evenly;

}

.one {
    padding: 0 12px 2px 110px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: -0.5em;
    margin-block-end: -0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.container .phonenumber {
    margin: -20px 0px;
}

.container .phonenumber a {
    text-decoration: none;
    color: black;
}

.fa-phone {
    background-color: #f6214b;
    color: #fff;
    padding: 33px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 5px auto;
    padding: 10px;
    font-size: 22px;
    transform: scale(1);
}


.menu-active a {
    color: red;
}

.nav-menu li a {
    padding: 0 0px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
    transition: all 0.5s;
}

.child-hover-li {
    display: none;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    position: absolute;
}

.menu-has-children:hover .child-hover-li {
    display: block;
    transform: none;

}

.nav-menu li a:hover {
    color: red;
}

main{
    position: relative;
}

#firstsection {
    background: url(https://preview.colorlib.com/theme/gym/img/header-bg.jpg.webp)center;
    background-size: cover;
    background: linear-gradient();
    padding: 300px;
    z-index: 15;
    position: relative;

}

.realfitness {
    text-align: center;
}

.realfitness .col-12 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: w 1em;
    margin-top: 20px;
}

.realfitness .shape {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
}

.blackfon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    top: 0;
    left: 0;
    z-index: 2;
}

body #We-care {
    margin-top: 120px;
    position: absolute !important;
}

.we-offer .offer {
    font-size: 40px;
    text-align: center;
    font-weight: bold;

    color: black;

}

.we-offer .extremely {
    text-align: center;
}

.cardoffer {
    display: flex;
    justify-content: space-around;
    text-align: center;


}

.cardoffer div {
    border-radius: 10px;
    margin: 100px 0;
    padding: 20px 20px;
    width: 20%;
    height: 30%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px 20px rgba(174, 12, 12, 0.142);
    justify-content: space-evenly;
    align-items: space-around;


}

.page {
    font-size: x-large;
    color: black;
}

#form {
    text-align: center;
    background-color: red;
    
}
.formss{
    text-align: center;
    gap: 10px;
}
#calculate{
    background-color: #fff;
    border-radius:65px ;
    overflow: hidden;
    transform: scaleX(1.5);
}

